/*================ general styles section start ================== */
html {
  font-size: 62.5%;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}
:root {
  --color-body: #161616;
  --color-font: #fafafa;
  --border-radius: 5px;
}

body {
  color: var(--color-body);
  line-height: 1.5;
  margin: 0;
  padding: 5rem 0 0 0;
  font-family: "Poppins", Arial, Helvetica, sans-serif;
}

p {
  margin-top: 0;
  font-size: 1.6rem;
}

img {
  width: 100%;
  display: block;
}

figure {
  margin: 0;
}

h1 {
  font-size: 7rem;
  line-height: 0.9;
  margin-top: 0;
  margin-bottom: 3rem;
  line-height: 1;
}

a {
  text-decoration: none;
}
ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

/*-------------------- general styles section end------------- */

/*------------utility classes section start------------------  */
.container {
  max-width: 132rem;
  margin: 0 auto;
  width: 82.6%;
}

.split {
  display: flex;
  gap: 2rem;
}
.split-center {
  display: flex;
  gap: 3rem;
  align-items: center;
  justify-content: center;
}

.split-column {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.btn {
  font-weight: 700;

  border: none;
  padding: 1.5rem 3rem;
  font-size: 1.8rem;
  display: inline-block;
  white-space: nowrap;
  border-radius: var(--border-radius);
  border: 1px solid rgba(221, 221, 221, 0.445);
}

.btn--primary {
  background-color: #237379;
  color: var(--color-font);
}
.btn--secondary {
  background-color: var(--color-font);
  color: var(--color-body);
  border: 1px solid #ddd;
}

section {
  margin-bottom: 10rem;
}

/*--------------utility classes section end------------------ */

/*=========================== 
Banner section style start 
================================*/

.banner {
  background-color: var(--color-body);
  color: var(--color-font);
  border-radius: 3rem;

  align-items: center;
  font-size: 1.6rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.banner__details {
  margin: 11rem 2.4rem 11rem 10.6rem;
}
.banner__description {
  margin-bottom: 2rem;
}
.banner__image {
  margin: 3.3rem 8rem 0 0;
}

.fa-arrow-right-long {
  transition: transform 0.3s linear;
}

.banner__btn:hover .fa-arrow-right-long {
  transform: translateX(15px);
}

/*=========================== 
Banner section style end 
================================*/

/*=================================== 
      Blog section Start           
============================== */

.main-article {
  align-items: flex-start;
  display: grid;
  gap: 2.4rem;
  grid-template-columns: 312px auto;
}
.side-bar {
  background-color: var(--color-body);
  flex-direction: column;
  text-align: center;
  gap: 1rem;
  width: 312px;
  padding: 1.5rem;
  display: flex;
  border-radius: var(--border-radius);
}
.blogs {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2.4rem;
}
.card {
  display: flex;
  flex-direction: column;
  border: 1px solid #e8e8e8;
  border-radius: 10px;
}

.card__btn {
  padding: 0.5rem 1.5rem;
  border: 1px solid var(--color-body);
}
/* .blog{
  background: linear-gradient(to right, #cf1313 50%, #ffffff 50%,);
  background-size: 201% 100%;
  background-position: right;
  transition: all 0.4s ease-out;
} */

.blog__btn {
  background: linear-gradient(to right, #ffffff 50%, #237379 50%);
}
.match__btn {
  background: linear-gradient(to right, #31c00d 50%, #ffffff 50%);
}
.group__btn {
  background: linear-gradient(to right, #c00d0d 50%, #fff 50%);
}
.blog__btn:hover {
  background-position: left;
  color: #f32c2c;
}
.match__btn:hover {
  background-position: left;
  color: var(--color-font);
}
.group__btn:hover {
  background-position: left;
  color: #fff;
}

.sidebar__btn {
  background-size: 200% 100%;
  background-position: right;
  transition: all 0.4s ease-out;
}

.card__details {
  padding: 1.5rem;
}
.card__feature {
  font-size: 1.6rem;
  margin: 1.5rem 0 2rem 0;
  font-weight: 600;
}
.card__info {
  color: rgb(107, 101, 101);
}

.tablet-btn {
  display: none;
}
.card__flag {
  display: flex;
  gap: 1rem;
  align-items: center;
  padding: 1.5rem;
}

.card__flag > figure {
  width: 45%;
}
.card h3 {
  font-size: 2rem;
}

/*=================================== 
Blog section end           
============================== */

/*===================================  
 Footer section start         
============================== */
footer {
  flex-direction: column;
  text-align: center;

  background-color: var(--color-body);
  font-size: 1.6rem;
  color: #d9dbe1;
}
footer h2 {
  color: var(--color-font);
  font-size: 6rem;
  font-weight: 600;
  margin-bottom: 3rem;
}
hr {
  border: 1px solid rgba(219, 212, 212, 0.1);
}
#copyright {
  font-size: 1.5rem;
}
footer ul {
  justify-content: center;
  margin-bottom: 2rem;
  margin-top: 2rem;
}
.footer-nav ul li {
  margin-left: 1rem;
}
footer a {
  color: #b9b9b9;
}
footer a:hover {
  color: var(--color-font);
}

/*=================================== 
Footer section end           
============================== */

/*===================================  
Media Query start           
============================== */

/*For Desktop browsers  */

@media screen and (min-width: 992px) and (max-width: 1200px) {
  h1 {
    font-size: 5.5rem;
    margin-bottom: 2rem;
  }

  .banner__details {
    margin: 7rem 2.4rem 5rem 7rem;
  }
  .banner__description {
    margin-bottom: 2rem;
  }
  .banner__image {
    margin: 3.3rem 2rem 0 0;
  }
}
/*For tablet browsers  */

@media screen and (min-width: 576px) and (max-width: 991.98px) {
  .container {
    width: 90%;
  }
  section {
    margin-bottom: 7rem;
  }

  h1 {
    font-size: 3.5rem;
    margin-bottom: 2rem;
    line-height: 0.9;
  }

  .banner__details {
    margin: 5rem 2.4rem 5rem 5rem;
  }
  .banner__description {
    font-size: 1.4rem;
    margin-bottom: 1.5rem;
  }
  .banner__image {
    margin: 3.3rem 1rem 0 0;
  }
  .banner__btn {
    padding: 1rem 1.8rem;
  }

  .tablet-hidden {
    display: none;
  }

  .main-article {
    grid-template-columns: 1fr;
  }
  .blogs {
    grid-template-columns: repeat(2, 1fr);
  }
  .side-bar {
    flex-direction: row;
    width: 100%;
    padding-left: 0;
    padding-right: 0;
    background-color: #fff;
  }
  .side-bar a {
    flex-grow: 1;
  }

  .tablet-btn {
    display: inline-block;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    margin-bottom: 7rem;
  }
  .footer-nav ul {
    flex-wrap: wrap;
  }
  .footer-nav li {
    margin-left: 2rem;
    margin-right: 2rem;
  }
}
/*For mobile and small screens browsers  */

@media screen and (max-width: 575.98px) {
  .container {
    width: 95%;
  }
  section {
    margin-bottom: 2.4rem;
  }
  h1 {
    font-size: 3.5rem;
    margin-bottom: 3.5rem;
    line-height: 0.9;
  }
  .banner {
    border-radius: 15px;
  }
  .banner__details {
    margin: 5rem 0 5rem 0;
  }
  .banner__description {
    font-size: 1.4rem;
    margin-bottom: 2.5rem;
  }

  .banner__image {
    margin: 0 auto;
  }
  .banner__btn {
    padding: 1rem 1.8rem;
  }

  .banner {
    padding: 5rem 5rem 0 5rem;
    text-align: center;

    grid-template-columns: 1fr;
  }

  .main-article {
    flex-direction: column;
    grid-template-columns: 1fr;
  }
  .blogs {
    width: 100%;
    grid-template-columns: 1fr;
  }
  .side-bar {
    width: 100%;

    align-items: center;
    background-color: #fff;
  }

  .footer-nav ul {
    flex-direction: column;
  }
}
